.todoInput {
  display: flex;
  margin-bottom: 2rem;
}

.todoInput__button {
  background-image: url('../imgs/plus.svg');
}

.todoInput__entryField {
  width: 350px;
  margin-right: 0.5rem;
  padding: 0 1rem;
}