.editableTodo {
  margin-bottom: 1rem;
}

.editableTodo__entryField {
  padding-left: 2rem;
  width: 350px;
  border: none;
}

.editableTodo__applyChanges {
  background-image: url(../imgs/apply.svg);
}