.editableTodo {
  margin-bottom: 1rem;
}

.editableTodo__entryField {
  padding-left: 2rem;
  width: 350px;
  border: none;
}

.editableTodo__applyChanges {
  background-image: url(../imgs/apply.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  margin-left: 0.5em;
  border: none;
}